@import 'styles/colors';
@import 'styles/sizes';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 $space-xxl 0;
  margin: 0 auto;
}

.pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  rotate: 90deg;
  cursor: pointer;
}

.arrow-right {
  rotate: -90deg;
  cursor: pointer;
}

.arrow-disabled {
  cursor: none;
  pointer-events: none;
}

.page {
  padding: 10px 0;
  min-width: 48px;
  text-align: center;
  cursor: pointer;
}

.page-active {
  color: $primary-invert;
  background-color: $brand;
}