.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xxl) 0;
  margin: 0 auto;
}

.paginationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLeft {
  rotate: 90deg;
  cursor: pointer;
}

.arrowRight {
  rotate: -90deg;
  cursor: pointer;
}

.arrowDisabled {
  cursor: none;
  pointer-events: none;
}

.page {
  padding: 10px 0;
  min-width: 48px;
  text-align: center;
  cursor: pointer;
}

.activePage {
  color: var(--primary-invert);
  background-color: var(--brand);
}