@import '@styles/colors';
@import '@styles/sizes';
@import '@styles/mixins';
@import '@styles/fonts';

.wrapper {
  @include flex-horizontal-spacebetween-center;
  width: 100%;
  padding: $space-s $space-xs;
  background-color: $input-bg;
}

.input {
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
  font-size: $font-size-xs;
  line-height: 20px;
  font-weight: 400;
  background-color: $input-bg;
}

.input:disabled {
  background-color: $input-bg;
  color: $input-text-disabled;
}

.wrapper-focused {
  border: 1px solid $brand;
}

.input::placeholder {
  color: $secondary;
}