@import 'styles/colors';
@import 'styles/sizes';

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: $space-s $space-xs;
  align-items: center; 
  background-color: $input-bg;
}

.input {
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: $input-bg;
}

.input:disabled {
  background-color: $input-bg;
  color: $input-text-disabled;
}

.wrapper-focused {
  border: 1px solid $brand;
}

.input::placeholder {
  color: $secondary;
}