
@import 'styles/colors';
@import 'styles/sizes';

.home-basic-section {
  background-color: $background;
  padding:  $space-xl $side-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: $space-xxxl;
}

.search-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: $space-l;
}

.multidropdown {
  position: relative;
}

.multidropdown div {
  border-radius: $border-radius;
  
}

.multidropdown ul {
  position: absolute;
  top: 65px;
}


@media screen and (max-width: 1439px) {
  .home-basic-section {
    gap: $space-xl;
  }
}

@media screen and (max-width: 1099px) {
  .home-basic-section {
    padding: 0 $side-padding-50;
  }
}