@import 'styles/colors';
@import 'styles/sizes';

.button {
  padding: $space-s $space-l;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $button-primary-bg;
  color: $button-primary-text;
  font-size: 18px;
  border: solid 0;
  border-radius: $border-radius;
}

.loader svg path {
  fill: $button-primary-text;
}

.button:hover:not([disabled]) {
  background-color: $button-primary-bg-hover;
  cursor: pointer;
}

.button-disabled {
  background-color: $button-primary-bg-disabled;
}

.button:active:not([disabled]) {
  background-color: $button-primary-bg-active;
}