@import 'styles/colors';

.common {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.title {
  font-weight: 700;
  font-size: 44px;
}

.p-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.p-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.accent {
  color: $accent;
}