$brand: #B5460F;
$brand-hover: #B5460FB2;
$brand-active: #872D01;

$background: #ffc0763b;
$background-bright: #b5460f54;


$multidropdown-bg: #ffe5c8;
$multidropdown-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$input-bg: #FFFFFF;
$input-text-disabled: #00000033;

$primary: #000000;
$primary-invert: #FFFFFF;
$secondary: #AFADB5;
$accent: $brand;
  

$button-primary-text: #FFFFFF;
$button-primary-bg-disabled: #D9D9D9;
$button-primary-bg: $brand;
$button-primary-bg-hover: $brand-hover;
$button-primary-bg-active: $brand-active;

$card-bg: #FFFFFF;
$card-shadow:  0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$card-text-secondary: $secondary;
$card-text-primary: $primary;
$card-image-bg: #D9D9D9;

$banner-bg: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(3,3,3,0.6927309782608695) 35%, rgba(255,255,255,0) 100%);