:root {
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Cookie';
  src: url('./Cookie/Cookie-Regular.ttf');
  font-style: normal; 
  font-weight: normal; 
}
