:root {
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* colors */
  --brand: #B5460F;
  --brand-hover: #B5460FB2;
  --brand-active: #872D01;

  --background: #ffc0763b;
  --background-bright: #b5460f54;

  --input-bg: #FFF;



  --primary: #000000;
  --primary-invert: #FFFFFF;
  --secondary: #AFADB5;
  --accent: var(--brand);
  

  --button-primary-text: #FFFFFF;
  --button-primary-bg-disabled: #D9D9D9;
  --button-primary-bg: var(--brand);
  --button-primary-bg-hover: var(--brand-hover);
  --button-primary-bg-active: var(--brand-active);

  --card-bg: var(#FFFFFF);
  --card-text-secondary: var(--secondary);
  --card-text-primary: var(--primary);
  --card-image-bg: #D9D9D9;


  /* size */
  --space-xxxl: 64px;
  --space-xxl: 48px;
  --space-xl: 24px;
  --space-l: 20px;
  --space-m: 16px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 8px;
  
  --border-radius: 10px;

  --side-padding: 100px;
  --side-padding-50: 50px;

}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Cookie';
  src: url('./Cookie/Cookie-Regular.ttf');
  font-style: normal; 
  font-weight: normal; 
}

@mixin pageTitle {
  font-weight: 700;
  font-size: 44px;
}
