$space-xxxl: 64px;
$space-xxl: 48px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
  
$border-radius: 10px;

$side-padding: 100px;
$side-padding-50: 50px;