@import 'styles/sizes';
@import 'styles/mixins';

.basic-info-wrapper {
  @include flex-horizontal-center;
  margin-right: 100px;

  &:last-child {
    margin-right: 0;
  }
}

.basic-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: fit-content(100%);
  gap: 50px 50px;
}

.image {
  width: 100%;
  border-radius: $border-radius;
}