.homeMainImage {
  width: 100vw;
  height: 25rem;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(3,3,3,0.6927309782608695) 35%, rgba(255,255,255,0) 100%),url('./src/assets/home-food-bg.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d3d3d3;

  &Title {
    font-family: 'Cookie';
    color: white;
    padding: 0 var(--side-padding) var(--space-m) 0;
    position: relative;
    font-size: 48px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}


