@import 'styles/colors';
@import 'styles/sizes';

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-l;
  width: 100%;
}
.searchButton {
  background-color: $brand;
  border-radius: $border-radius;
}

.input {
  border-radius: $border-radius;
}