@import 'styles/colors';
@import 'styles/sizes';

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-button {
  background-color: $brand;
  border-radius: $border-radius;
}

.input {
  border-radius: $border-radius;
  margin-right: $space-l;
}