.card {
  display: inline-flex;
  padding-bottom: var(--space-xl, 0px);
  flex-direction: column;
  gap: var(--space-xl, 24px);
  border-radius: var(--border-radius, 0px);
  background: var(--card-bg, #FFF);
  width: 29%;
}

.card:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.header {
  border-radius: var(--border-radius, 0px);
  background: var(--card-image-bg, #D9D9D9);
  max-height: 360px;
  overflow: hidden;
  display: flex;
}

.aboveTitle {
  overflow: hidden;
  color: var(--card-text-secondary, #AFADB5);
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.title {
  overflow: hidden;
  color: var(--card-text-primary, #000);
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--space-xs, 12px);
  gap: var(--space-l, 20px);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xxs, 8px);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-xxs, 8px);
}

.contentSlot {
  flex-grow: 1;
  color: var(--card-text-primary, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

@media screen and (max-width: 1099px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 799px) {
  .card {
    width: 100%;
  }
}