@import 'styles/mixins';

.recipe-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include section-padding;
  padding-top: 50px;

  &-link {
    display: flex;

    &-icon {
      rotate: 90deg;
      width: 38px;
      height: 38px;
    }
  }
}
