@import 'styles/sizes';
@import 'styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $side-padding;
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.logo-title {
  font-family: 'Cookie';
  font-size: 48px;
}

.logo {
  border-bottom: 1px solid;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-block {
  gap: $space-m;
}

.nav {
  gap: $space-m;
}

.active {
  color: $brand;
  text-decoration: none;
}

.pending {
  color: $primary;
  text-decoration: none;
}

@media screen and (max-width: 1099px) {
  .header {
    padding: 0 $side-padding-50;
  }
}