@import 'styles/sizes';
@import 'styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $side-padding;
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo-title {
  font-family: 'Cookie';
  font-size: 48px;
}

.logo {
  border-bottom: 1px solid;
  margin-right: 10px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-block {
  margin-right: $space-m;

  &:last-of-type {
    margin-right: 0;
  }
}

.nav {
  margin-right: $space-m;

  &:last-of-type {
    margin-right: 0;
  }
}

.active {
  color: $brand;
  text-decoration: none;
}

.pending {
  color: $primary;
  text-decoration: none;
}

@media screen and (max-width: 1099px) {
  .header {
    padding: 0 $side-padding-50;
  }
}