@import '@styles/colors';
@import '@styles/sizes';
@import '@styles/fonts';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.option-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $multidropdown-bg;
  box-shadow: $multidropdown-shadow;
}

.option {
  list-style-type: none;
  padding: $space-s $space-xs;
  color: $primary;
  font-size: $font-size-xs;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.option:hover {
  cursor: pointer;
}

.selected {
  color: $brand;
}

.input {
  border: 1px solid $brand;
}