@import '@styles/colors';
@import '@styles/sizes';
@import '@styles/mixins';

.container {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid $brand;
  @include flex-horizontal-center;
  padding: $side-padding-50 $side-padding;
}

.error {
  @include flex-column-center;
  width: 100%;
  min-height: 20vh;
  background-color: $background;
  border-radius: $border-radius;
}
