
@import 'styles/colors';
@import 'styles/sizes';
@import 'styles/mixins';


.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.loader path {
  fill: $brand;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-xxl;
  background-color: $background;
}

.recipeTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include section-padding;
  padding-top: 50px;

  &Link {
    display: flex;

    &Icon {
      rotate: 90deg;
      width: 38px;
      height: 38px;
    }
  }
}

.section {
  @include common-section;
  gap: 100px;
}

.image {
  width: 100%;
  border-radius: $border-radius;
}

.basicInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicInfoWrapper:first-child {
  width: 30%;
}

.basicInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: fit-content(100%);
  gap: 50px 50px;

  &Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.compositionSection {
  @include common-section;
  gap: 50px;

  &Part {
    width: 100%;
  }

  &Part:first-child {
    order: -1;
  }
}

.compositionSection::before {
  content: '';
  border: 1px dashed $brand;
  align-self: stretch;
}

.ingredientsTitle, .nutrientsTitle, .instructionsTitle {
  margin-bottom: $space-l;
}

.ingredients, .nutrients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-xxs;

  &Point {
    list-style: none;
  }
}

.instructionSection {
  @include common-section;
  flex-direction: column;
}

.instructions {
  &Point {
    color: $brand;
    margin-bottom: $space-m;
  }
}

.description {
  @include section-padding;
  padding-top: $space-xxl;
  padding-bottom: $space-xxl;
  background-color: $background-bright;
}